.container {
  display: flex;
  flex-direction: column;
}
.box {
  background: gold;
  /* margin: 1rem; */
  padding: 0.5rem;
}
.box:nth-of-type(2) {
  background: dodgerblue;
}
/* minimum with eto theke nicer style golo applied hobe */
@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .box {
    background: white;
    padding: 3rem;
  }
}

@media print {
  body {
    font-size: 12pt;
  }
  .box {
    padding: 0.5cm;
  }
}
