.box {
  border: 3px solid gold;
  height: 100px;
  width: 100px;
  overflow: visible;
  overflow: scroll;
  overflow: auto;
  overflow: hidden auto;
  /* overflow: x-axis y-axis */
  /* background: red; */
}
